<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .wrapper{
        margin: 80px;
    }
    .form-signin{
        max-width:300px;
        margin: 0 auto;
    }
    .Submit_button{
        margin-top: 30px
    }
    .form-control{
        margin-top: 10px
    }
</style>
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/headerNotLogined :: header"></header>
    <div class="wrapper">
        <form class="form-signin" th:action="@{/registration}" method="post">
            <h1 class="h3 mb-3 font-weight-normal text-center">Регистрация</h1>
            <label for="inputName" class="sr-only">Ваше имя</label>
                <input type="text" name="username" id="inputName" class="form-control" placeholder="Ваше имя" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
            <div class="Submit_button">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
            </div>
            <p class="mt-5 mb-3 text-muted  text-center">© 2017-2020</p>
        </form>
    </div>
</body>
</html>