<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .wrapper{
        margin: 80px;
    }
    .form-signin{
        max-width:300px;
        margin: 0 auto;
    }
</style>
<head>
    <title>Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="wrapper">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal text-center">Войдите</h1>
            <label for="inputEmail" class="sr-only">Ваше имя</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Ваше имя" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
            <div class="checkbox mb-3 text-center">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            <p class="mt-5 mb-3 text-muted  text-center">© 2017-2020</p>
        </form>
    </div>
</body>
</html>